<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!-- SIDEBAR -->
<sidebar class="sidebar" id="sidebar" th:fragment="sidebar">

	<div class="sidebar-tittle">
    	<img th:src="@{/static/images/LOGO_CRUISER_02.png}" alt="TADES_logo">
	</div>

    <!-- MENU -->
    <div class="menu">

		<ul>
        	<li class="foto-user">
            	<img th:src="@{/static/images/AVATAR_CRUISER01.png}" alt="User Icon">
                <h4>Nome</h4>
                <p>Departamento</p>
                <p>Cidade</p>
			</li>

            <li>
            	<a href="/home" class="active"> <i class="fas fa-home "></i>PRINCIPAL</a>
            </li>

            <li class="inside">
            	<a href="#"><i class="fas fa-user-friends "></i> FUNCIONARIOS <i class="fas fa-caret-down"></i></a>
                <ul>
                	<li><a href="#"><i class="fas fa-circle"></i> Listar Funcionários</a></li>
                    <li><a href="#"><i class="fas fa-circle"></i> Gerenciar Funcionários</a></li>
                </ul>
			</li>

            <li class="inside">
            	<a href="#"><i class="fas fa-cart-arrow-down"></i> ORDEM DE VENDA  <i class="fas fa-caret-down"></i></a>
                <ul>
                	<li><a href="#"><i class="fas fa-circle"></i> Carrinho</a></li>
                    <li><a href="#"><i class="fas fa-circle"></i> Pesquisa venda período</a></li>
                    <li><a href="#"><i class="fas fa-circle"></i> Pesquisa venda detalhada</a></li>
                </ul>
            </li>

            <li class ="inside">
                <a href="#"><i class="fas fa-suitcase "></i> PRODUTOS <i class="fas fa-caret-down"></i></a>
                <ul>
                	<li><a href="#"><i class="fas fa-circle"></i> Listar Produtos</a></li>
                    <li><a href="#"><i class="fas fa-circle"></i> Gerenciar Produtos</a></li>
                </ul>
            </li>

            <li class ="inside">
                <a href="#"><i class="fas fa-user "></i> CLIENTES <i class="fas fa-caret-down"></i></a>
                <ul>
                	<li><a href="/customer/list"><i class="fas fa-circle"></i> Listar Clientes</a></li>
                    <li><a href="/customer/register"><i class="fas fa-circle"></i> Gerenciar Clientes</a></li>
                </ul>
            </li>

            <li class="inside">
            	<a href="#"><i class="fas fa-poll"></i> RELATÓRIOS  <i class="fas fa-caret-down"></i></a>
                <ul>
                	<li><a href="#"><i class="fas fa-circle"></i> Diário</a></li>
                    <li><a href="#"><i class="fas fa-circle"></i> Mensal</a></li>
                </ul>
			</li>

			<li class ="inside">
				<a href="#"><i class="fas fa-globe-americas"></i> FILIAIS  <i class="fas fa-caret-down"></i></a>
				<ul>
					<li><a href="#"><i class="fas fa-circle"></i> Listar Filiais</a></li>
					<li><a href="#"><i class="fas fa-circle"></i> Gerenciar Filiais</a></li>
                </ul>
			</li>
			
		</ul>

	</div>

</sidebar>
<!-- Fim Sidebar-->
