.card {
    border-radius: 0;
    font-weight: bold;
}


/* Card 1*/

#card1 .card .card-body:hover {
    background-color: #1585BC;
}

#card1 .card .card-body hr:hover {
    background-color: #176893;
}


/* Card 2*/

#card2 .card .card-body:hover {
    background-color: #76B732;
}

#card2 .card .card-body hr:hover {
    background-color: #5D9028;
}


/* Card 3*/

#card3 .card .card-body:hover {
    background-color: #EF664B;
}

#card3 .card .card-body hr:hover {
    background-color: #C0513B;
}


/* Card 4*/

#card4 .card .card-body:hover {
    background-color: #BCBCB8;
}

#card4 .card .card-body hr:hover {
    background-color: #979694;
}


/* Card 5*/

#card5 .card .card-body:hover {
    background-color: #DDC72C;
}

#card5 .card .card-body hr:hover {
    background-color: #AC9D24;
}


/* Card 6*/

#card6 .card .card-body:hover {
    background-color: #1E765D;
}

#card6 .card .card-body hr:hover {
    background-color: #1A5A45;
}